/* 
====== 
Variables 
======
*/
:root {
  --primaryLightColor: #d4e6a5;
  --primaryColor: #142e02;
  --primaryDarkColor: #c02c03;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBackground: #f1f5f8;
  --mainOverlay: rgba(35, 10, 36, 0.4);
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #afafaf;
  --mainRed: #bd0303;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.3rem;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --mainBorderRadius: 0.25rem;
  --smallWidth: 70vw;
  --maxWidth: 40rem;
  --fullWidth: 1170px;

  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  }

/*!  media queries vu mobile FIRST */

@media only screen and (max-width: 600px)   { 

  .container-alpha {
  display: grid;
  }

/** container form  */
  .container-form-add{ 
      margin: 0 auto;
      display: grid;
      justify-items: center;
      grid-template-rows: 1fr 2fr 1fr;
      align-items: center;
      grid-gap: 1rem; 
      height: 300px;
  }


  /** InputText */

  .container-form-add input{
      width: 100%;
      height: 100%;
      border: 1px solid #ccc;
      border-radius: 4px;
      background-color: #f8f8f8;
      padding: 12px 20px;
      box-sizing: border-box;
      resize: vertical;
  }


  .div-utilisateur{
    text-align: center;
    margin: 0 auto;
    margin-top: 80px;
  }

  .utilisateur {
    font-size: 1.5rem;
    font-weight: 400;
    color: red;
  }

  .div-btn {
    justify-self: center;
    }

      /* noTask */
  .noTask h3{
    text-align: center;
    } 

    .addTask{
      font-weight: 700;
      font-family: Arial, Helvetica, sans-serif;
      text-transform: capitalize;
      background-color: transparent;
      padding: 10px;
      border-radius: 10px;
      cursor: pointer;
      }
      
      .addTask:hover{
        background-color: teal;
      }

      /* container des tâches */

      .container-list-items {
        margin: 2rem auto;
        width: 75vw;
        max-width: 800px;
        }

        .container-list-items .task {
          border: 1px solid var(--primaryColor); 
          display: grid;
          grid-template-columns: 4fr 1fr 1fr;
          margin: 1rem auto;
          padding: 0.7rem;
          }

          /**btn edit delete  */
          .div-btn {
            justify-self: center;
            }

            .buttonEdit, .buttonDelete{
              font-size: 1rem;
              background-color: transparent;
              cursor: pointer;
              border: transparent;
              border-radius: var(--border-radius);
              padding: 0.3rem;
              box-shadow: var(--shadow);
              display: inline-block;

            }
          
            /* *color btn */

            .buttonEdit{
              color: var(--clr-green-dark);
            }

            .buttonDelete{
              color: var(--clr-red-dark);
            }

            /** btn deleteAll */

            .div-deleteAll {
              margin: 0 auto;
              }
              .deleteAll {
              text-transform: capitalize;
              border: 1px red ;
              color: crimson;
              font-size: 1rem;
              cursor: pointer;
              border: transparent;
              border-radius: var(--mainBorderRadius);
              padding: 0.7rem;
              box-shadow: 1px 3px 2px teal;
              background-color: var(--clr-black);
              }
              
              .deleteAll:hover {
              background-color: var(--mainRed);
              color: snow;
              }

              /* dark-modeTn */
              .dark-mode__toggle {
                display: flex;
                top: 80px;
                right: 30px;
                padding: 0.5rem;
                cursor: pointer;
                /* z-index: 10; */
                position: absolute;
                align-items: center;
                justify-content: center;
                }


              /** Darkmode button style +  color div style + view Desktop */


            }


            /** vu Tablette */
            @media only screen and (min-width: 600px) and (max-width: 779px){
  
    .container-alpha {
    display: grid;
    }

    /** container form  */
    .container-form-add{ 
        margin: 0 auto;
        display: grid;
        justify-items: center;
        grid-template-rows: 1fr 2fr 1fr;
        align-items: center;
        grid-gap: 1rem; 
        height: 300px;
    }


    /** InputText */

    .container-form-add input{
        width: 460px;
        height: 100%;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #f8f8f8;
        padding: 12px 20px;
        box-sizing: border-box; 
        resize: vertical; 

    }

    .addTask{
      font-weight: 700;
      font-family: Arial, Helvetica, sans-serif;
      text-transform: capitalize;
      background-color: transparent;
      padding: 10px;
      border-radius: 10px;
      cursor: pointer;
      }
      
      .addTask:hover{
        background-color: teal;
      
    }

    .div-utilisateur{
      text-align: center;
      margin: 0 auto;
      margin-top: 80px;
    }

    .utilisateur {
      font-size: 1.5rem;
      font-weight: 400;
      color: crimson;
      text-transform: capitalize;
    }


    .div-btn {
      justify-self: center;
      }

        /* noTask */
    .noTask h3{
      text-align: center;
      margin-top: 50px;
    }

    .container-list-items{
      margin: 2rem auto;
      width: 75vw;
      max-width: 800px;
    }

    .task{
      border: 1px solid var(--primaryColor); 
      display: grid;
      grid-template-columns: 4fr 1fr 1fr; 
      margin: 1rem auto;
      padding: 0.7rem;
    }

    .task h3{
      font-size: 1.5rem;
      font-weight: 400;
      color: var(--clr-black);
    }
 
}


/* view tablette, desktop */

@media only screen and (min-width: 780px) and (max-width: 1024px){
  
  .container-alpha{
    display: grid;
  }


  .div-utilisateur{
    text-align: center;
    margin: 0 auto;
    margin-top: 2px;
  }

  .utilisateur{
    font-size: 1.5rem;
    font-weight: 400;
    color: crimson;
    text-transform: capitalize;
  }

  .container-form-add{
    margin: 0 auto;
    display: grid;
    justify-items: center;
    grid-template-rows: 1fr 2fr 1fr;
    align-items: center;
    grid-gap: 1rem; 
    height: 300px;
    width: 100%;
  }

  .container-form-add input{
    width: 460px;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    padding: 12px 20px;
    box-sizing: border-box; 
    resize: vertical; 

  }

  .addTask{
    font-weight:700;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    background-color: transparent;
    padding: 10px;
    border-radius: 10px;
    cursor:pointer;
  }

  .addTask:hover{
    background-color: teal;
  }


  .container-list-items{
    margin: 2rem auto;
    width: 75vw;
    max-width: 800px;
  }


  .task{
    border: 1px solid var(--primaryColor); 
    display: grid;
    grid-template-columns: 4fr 1fr 1fr; 
    margin: 1rem auto;
    padding: 0.7rem;
  }

  

 
}


/* !vu pc */
@media screen and (min-width: 1025px) {

 
  .container-alpha{
    display:block;
  }

  .container-form-add{
    margin: 0 auto;
    justify-items: center;
    align-items: center;
    width: 30%;
    display: block;
    justify-content: center;
    align-items: center;
    height: 550px;
  }

  .container-form-add input{
    width: 460px;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    padding: 12px 20px;
    box-sizing: border-box; 
    resize: vertical; 

  }




  .addTask{
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    background-color: transparent;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    top:12px;
    margin-left: 20px;
    position: relative;
    }

    .addTask:hover{
      background-color: teal;
    }


    .task{
      border: 1px solid var(--primaryColor); 
      display: grid;
      /* ! */
      grid-template-columns: 4fr 1fr 1fr;
      margin: 1rem auto;
      padding: 0.7rem;
    }

    .container-list-items{
      margin: 2rem auto;
      width: 75vw;
      max-width: 1500px;
    }

    .div-utilisateur{
      text-align: center;
      margin: 0 auto;
      margin-top: 2px;

    }


    .utilisateur{
      font-size: 1.5rem;
      font-weight: 400;
      color: crimson;
      text-transform: capitalize;
    }


    .noTask{
      margin: 0 auto;
      width: 30%;
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
    }



 




}






    /**btn edit delete  */

    .div-btn {
      justify-self: center;
      }

      .buttonEdit, .buttonDelete{
        font-size: 1rem;
        background-color: transparent;
        cursor: pointer;
        border: transparent;
        border-radius: var(--border-radius);
        padding: 0.3rem;
        box-shadow: var(--shadow);
        display: inline-block;

      }

      /* *color btn */

      .buttonEdit{
        color: var(--clr-green-dark);
      }

      .buttonDelete{
        color: var(--clr-red-dark);
      }


      /** btn deleteAll */

      .div-deleteAll {
        margin: 0 auto;
        }
        .deleteAll {
        text-transform: capitalize;
        border: 1px red ;
        color: crimson;
        font-size: 1rem;
        cursor: pointer;
        border: transparent;
        border-radius: var(--mainBorderRadius);
        padding: 0.7rem;
        box-shadow: 1px 3px 2px teal;
        background-color: var(--clr-black);
        }
        
        .deleteAll:hover {
        background-color: var(--mainRed);
        color: snow;
        }

        /* dark-modeTn */
        .dark-mode__toggle {
          display: flex;
          top: 80px;
          right: 30px;
          padding: 0.5rem;
          cursor: pointer;
          /* z-index: 10; */
          position: absolute;
          align-items: center;
          justify-content: center;
          }
